
#if (!defined __PROF_UIS_RES_PM_H)
	#include "ResPM.h"
#endif

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

IDB_EXT_PM_16x16          BITMAP  MOVEABLE PURE "Resources\\ResPM\\IDB_EXT_PM_16x16.bmp"
IDB_EXT_PM_24x24          BITMAP  MOVEABLE PURE "Resources\\ResPM\\IDB_EXT_PM_24x24.bmp"
IDB_EXT_PM_32x32          BITMAP  MOVEABLE PURE "Resources\\ResPM\\IDB_EXT_PM_32x32.bmp"

IDB_EXT_PM_16x16 TOOLBAR MOVEABLE PURE  16, 16
BEGIN
    BUTTON      ID_EXT_PM_THEME_NativeXP
END

IDB_EXT_PM_24x24 TOOLBAR MOVEABLE PURE  24, 24
BEGIN
    BUTTON      ID_EXT_PM_THEME_NativeXP
END

IDB_EXT_PM_32x32 TOOLBAR MOVEABLE PURE  32, 32
BEGIN
    BUTTON      ID_EXT_PM_THEME_NativeXP
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_EXT_PM_MENU_MARKER_THEME_CHANGER     "<<< Prof-UIS Themes List >>>"
    ID_EXT_PM_THEME_NativeXP                "Native Windows XP / Vista / 7"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
