
#if (!defined __PROF_UIS_RES_2007_H)
	#include "Res2007.h"
#endif

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////


