
BODY {
	color: #000000;
	font-family: arial;

}


P
{
	color: #000000;
}

h1
{

	background-color: #DDDDDD;
	border: 1px solid black;
	width: 100%;
}

h4
{
	font-variant: small-caps;
	background-color: #DDDDDD;
}

A
{
	color: #2222CC;
	font-family: verdana;
	font-weight: bold;
}



IMG
{
	border-color: #ffffff;
}



